@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --bg: #f0edea;
    --primary: #f2ca3f;
    --secondary: #010101;
    --txt-1: #131212;
    --txt-2: #aaa;
    --txt-3: #696969;
    --helper: #dcbcf4;
    --helper-2: #cc89ff;
    --icons: #ecebea;
    --white: #fff;
    --dark-gray: #00000093;
    --gray: #d8d8d8;
    --light-gray: #e8e8e8;
    --tag-gray: #e5e2e2;
    --pad-1: 2rem 12vw 4rem 12vw;
    --input-width: clamp(25vw,420px,calc(100vw - 6rem));

    --mid-1: #ffedd2;
    --mid-2: #ffa116;
    --easy-1: #6bfca863;
    --easy-2: #069642;
    --easy-2: #0cb164;
    --hard-1: #ffaeae50;
    --hard-2: #ef5252;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    background: var(--bg);
}

.container {
    display: flex;
    flex: 1;
    padding: var(--pad-1);
    gap: 3rem;
}

@media only screen and (max-width: 800px) {
    .container {
        --pad-1: 3rem 3rem;
    }
}

@media only screen and (max-width: 665px) {
    .container{
        --pad-1: 1.5rem 3rem;
        flex-direction: column;
        gap: 5rem;
    }
}

@media only screen and (max-width: 800px){
    :root{
        --pad-1: 3rem 3rem;
    }
}
@media only screen and (max-width: 665px){
    :root{
        --pad-1: 1.5rem 3rem;
    }
}