.main{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100dvh;
}

.homeContainer {
    display: flex;
    flex: 1;
    padding: var(--pad-1);
    gap: 3rem;
}

.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* padding: 3rem  0 3rem 12vw ; */
    /* gap: 0.5rem; */
    justify-content: space-between;
}
.top{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.mainTitle{
    font-family: 'Montserrat', sans-serif;
    /* font-size: 3.5rem; */
    font-size: clamp(2rem, 5vw, 3.5rem);
    font-weight: 700;
    cursor: default;
}
.subTitle{
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--txt-3);
    cursor: default;
    font-family: 'Montserrat', sans-serif;
    word-spacing: 3px;
    line-height: 140%;
    padding-right: 2rem;
}

.button {
    margin-top: 2rem;
    padding: 0.7rem 1.5rem;
    background: var(--secondary);
    color: var(--icons);
    border: none;
    outline: none;
    font-size: 0.9rem;
    font-weight: 600;
    width: fit-content;
    cursor: pointer;
    transition: background .3s ease, color .3s ease;
}
.button:hover {
    outline: 2px solid var(--secondary);
    outline-offset: -2px;
    background: var(--bg);
    color: var(--secondary);
}

.right{
    position: relative;
    flex: 0.8;
    display: flex;
    justify-content: flex-end;
    /* background: #f66; */
}

.editorName{
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(1rem, -1rem); */
    transform: translate(-1rem, -1.2rem);
    background: var(--primary);
    color: var(--secondary);
    padding: 0.5rem 0.75rem;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: clamp(0.8rem, 2vw, 1rem);
    /* box-shadow: 0px 0px 10px #0003; */
}

.blob {
    height: 40vmax;
    aspect-ratio: 1/1;
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    border-radius: 77% 23% 66% 34% / 37% 20% 80% 63% ;
    background-image: radial-gradient(var(--helper) 15%, var(--bg) 60% );
    z-index: -2;
    transition: all .5s ease-in-out;
}

.placedIconsParent{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #1d6ed8;
    padding: 0.5rem;
}
.placedIcons {
    font-size: 1rem;
    color: var(--white);
    /* pointer-events: none; */
}


@media only screen and (max-width: 800px) {
    .subTitle{
        padding-right: 0;
    }
}

@media only screen and (max-width: 665px) {
    .main{
        min-height: 150dvh;
    }
    .homeContainer{
        flex-direction: column;
        gap: 5rem;
    }
    .subTitle{
        padding-right: 3rem;
    }
    .blob {
        height: 60vmax;
        aspect-ratio: 1/1;
        top: 75%;
        left: 30%;
    }
    .left{
        flex: 2;
    }
    .right{
        flex: 1;
    }
}